@import url(variables.css);
@import url(base.css);
@import url(layout.css);
@import url(components.css);



/*estilos */


body {
    margin: 0;
    font-family: Arial;
}


nav{
    font-family: var();
}

header{
    position: sticky;
    top: 0;
    z-index: 9999;
    width: 100%;
}

nav li.inicio {
 
    width: calc(100%/7);
    text-align: center;
}
nav li a{
    text-align: center;
}
nav li.inicio a:hover{
    background-color: #008000;
    height: 80px;
    align-items: center;
    text-align: center;
}


nav.menu-principal {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-principal);
    padding: 12px 40px;
}

/*quitar las viñeatas*/
.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.menu li {
    position: relative;
}
/*colocar en bloque*/


.menu a {
    color: var(--letra_nav);
    text-decoration: none;
    height: 80px;
    display: flex;
    justify-content: center;  /* centra horizontal */
    align-items: center;      /* centra vertical */
    width: 100%;
    padding: 0;
}
/*añinear al centro*/
.dropdown a {
    display: flex;
    align-items: center;
    text-align: center;
    height: 60px; /* altura fija */
    padding: 0 20px;
}



    
    .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--subtono-principal);
    width: 300px;
    z-index: 9999;
    list-style: none;
    padding: 0;
}

.submenu li a {
    color: rgb(255, 255, 255);
}

/* subsubmenu */
.submenu2 {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background: var(--subsubtono-principal);
    width: 250px;
    list-style: none;
    padding: 0;
    z-index: 9999;
}

.dropdown:hover .submenu {
    display: block;
}

.dropdown2:hover .submenu2 {
    display: block;
}

.submenu li:hover {
    background: #008000;
    color: white;
}



/*pa que la barra se quede pegada*/



* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
}

li.help{
    background-color: red;
    color:white;
    
}
li.help img{
    height: 49px;
}


li.help:hover{
    background-color: rgb(212, 3, 3);
   
}


.menu a.active {
    background-color: #008000;
    height: 80px;
    display: flex;
    align-items: center;
}
/*==========================================================================================================================*/

main{
    margin-top: 100px;
    min-height: 60vh;
}
main.mensaje {

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* align-items: center; */
    
   grid-auto-flow: column;
    gap: 40px;
}

main.mensaje #mensaje {
    grid-column: 7/11;
    max-width: 100%;

    background-color: rgb(185, 185, 185);
    border-radius: 20px;
    padding: 30px 30px;
    
}
main.mensaje #mensaje h1{
    font-family: var(--fuente-titulo);
    font-weight: 800;
    text-align: center;
    font-size: 60px;
    color: var(--color-secundario);
}
main.mensaje #img {
    grid-column: 3/6;

}

main.mensaje img {
    max-width: 100%;
    border-radius: 20px;
}

div.particion{
    height: 100px;
    width: 100%;
    background-color:  var(--color-principal);
    margin: 100px 0;
}

div.main-objetivos{
    margin-bottom:20px;
    display: flex;
}
div.main-objetivos div{
    background-color: var(--azul-fondo-claro);
    padding:20px;
    border-radius: 20px;
    margin: 20px;
    width: 50%;
}

div.main-contenidos h1{
    font-family: var(--funte-subtitulo);
    color: var(--color-secundario);
    text-transform: capitalize;
    text-align: center;
    
}

div.main-contenidos h2 {
    font-family: var(--funte-subtitulo);
    color: var(--color-secundario);
    text-transform: capitalize;
    margin-top: 15px;
text-align: center;
    
}

div.main-contenidos a{
    text-decoration: none;
    color: black;
}
div.main-contenidos sumary{
    width: 100%;
}

div.main-contenidos-detalles{
    background-color: var(--azul-fondo-claro);
    padding: 50px;
    border-radius: 20px;
}


/*estilos para la etiquera details*/


details summary {
    display: flex;
    align-items: center;
    gap: 10px; /* espacio entre la flecha y el texto */
    cursor: pointer;
    list-style: none; /* quita el estilo por defecto */
}

/* ocultar la flecha por defecto en Chrome/Safari */
details summary::-webkit-details-marker {
    display: none;
}

/* crear una flecha personalizada */
details summary::before {
    content: "▶";
    font-size: 14px;
    color: black;
}

/* cuando esté abierto */
details[open] summary::before {
    content: "▼";
}
